@charset "utf-8";
/* CSS Document */


body {
	background: rgb(136,183,208); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(136,183,208,1) 0%, rgba(217,240,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,183,208,1)), color-stop(100%,rgba(217,240,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(136,183,208,1) 0%,rgba(217,240,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(136,183,208,1) 0%,rgba(217,240,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(136,183,208,1) 0%,rgba(217,240,251,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88b7d0', endColorstr='#d9f0fb',GradientType=0 ); /* IE6-9 */

	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: linear-gradient(;
	background-position: left top;
}
.newspaper
{
-moz-column-count:3; /* Firefox */
-webkit-column-count:3; /* Safari and Chrome */
column-count:3;
}

